:root{
    --primary-color: #1e9fb5fe;
}
header, footer{
    height: 100px;
    background-color: var(--primary-color) ;
}
.text-to-convert{
    position: relative;
    height: 150px;
    top:20px;
    left:20px;
    
}
.converted-text{
    height: 10px;
    position: relative;
    top:20px;
    left:20px;
}
.button-to-translate{
    height:50px;
    color: black;
    position: relative;
    top:20px;
  
}
#translateklingon, #translatevulcan, #translateromulan{
background-color: #60b6d3;
border-radius: 100rem;
border-color: black;
border-style:solid;
height: 50%;
border: var(--primary-color);
}







